version: "3.8"
services:
    web:
        build: .
        restart: unless-stopped
        container_name: interview-frontend
        ports:
            - "5173:80"
        environment:
            NODE_ENV: production
        env_file:
          .env
